RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?thirdculturegroup.com$
RewriteCond %{REQUEST_URI} !^/dist/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /dist/$1
RewriteCond %{HTTP_HOST} ^(www.)?thirdculturegroup.com$
RewriteRule ^(/)?$ dist/index.html [L]

RewriteCond %{REQUEST_URI} !(/$|\.) 
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L] 
