@import '_main.scss','mixin.scss';
.gallery-text{
    h1{
        top: 70%;
        color:$pri-color;
    }
}
#ourpeople{
    @include margin(0,0,120px,0)
    p{
        @include padding(0,0,32px,0);
    }
    .btn-primary{
        @include margin(46px,0,0,0);
    }
}

.cilents{
    @extend .layout;
   @include margin(120px,0,120px,0);
   
}

.ourbrands{
    
    hr{
        @include margin(27px,0,38px,0);   
    }

    .imgbank{  
        display: grid;
        max-width: 1280px;
        margin: 0 auto;
        // grid-template-rows: repeat(2,minmax(290px,1fr));
        grid-template-columns: repeat(4,1fr);
        grid-gap: 80px  40px;
        @media (min-width: 600px) {
            .imgbank { grid-template-columns: repeat(2, 1fr); }
          }
        .p20{
            font-family: 'Chap';
     @include padding(20px,0,20px,0)
     
     
        }
    }
    
    @include bp(md){
        .imgbank{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    // .row{
    //     // .col-md-3{
    //     //     @include bp(md){text-align: center;}
    //     // }
    //     // &:not(:nth-of-type(1)){
    //     // @include margin(80px,0,80px,0)
    //     // @include bp(md){@include margin(80px/2,0,80px/2,0)}
    //     // }
    //     // &:last-of-type(){
    //     // @include margin(80px,0,32px,0);
    //     // @include bp(md){@include margin(80px/2,0,32px/2,0)}
    //     // }

    // }
    .btn-primary{
        @include margin(32px,0,120px,0);
        @include bp(md){ @include margin(32px/2,0,120px/2,0);}
    }
}